@import "tailwindcss";

:root {
  --background: #020409;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(250, 204, 21, 0.08), transparent 35%),
    radial-gradient(circle at bottom right, rgba(250, 204, 21, 0.06), transparent 30%),
    #020409;

  color: white;

  font-family: var(--font-inter), Arial, Helvetica, sans-serif;

  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);

  background-size: 80px 80px;
}

::selection {
  background: rgba(250, 204, 21, 0.3);
  color: white;
}